@font-face {
  font-family: Chalet;
  src: url("./assets/ChaletLondonNineteenSixty.ttf");
  font-weight: normal;
}

:root {
  --color: white;
  --opacity: 0.9;

  --accent: #2a6fb6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Chalet", sans-serif;
  user-select: none;
  font-size: 17px;
}
